<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/modal_create_req.css">
    <link rel="stylesheet" href="css/dispatcher.css">
</head>
<body>
    <div class="menu">
        <div class="menu_title" style="display: flex; justify-content:center; margin-bottom: 30px;">
            <div class="menu_title_logo">
               <img src="images/logo.png" alt="" style="width: 140px;">
            </div>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher">Заявки</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/reports">Отчеты</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/users">Пользователи</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/pays">Платежи</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/residents">Жильцы</a>
        </div>
    </div>
    <div class="main">
        <div class="main_title">
            Журнал заявок
        </div>
        <div class="main_requests_status">
            <div class="main_requests_status_item">
                <div class="main_requests_status_item_content">
                    <div class="main_requests_status_item_img">
                        <img src="images/request_new.png" alt="">
                    </div>
                    <div class="main_requests_status_item_descr">
                        <span>Новая</span>
                        {{request_new_count}} шт.
                    </div>
                </div>
            </div>
            <div class="main_requests_status_item" style="background-color: rgb(255, 248, 117);">
                <div class="main_requests_status_item_content">
                    <div class="main_requests_status_item_img">
                        <img src="images/send.png" alt="">
                    </div>
                    <div class="main_requests_status_item_descr">
                        <span>Передана</span>
                        {{request_send_count}} шт.
                    </div>
                </div>
            </div>
            <div class="main_requests_status_item" style="background-color: rgb(255, 207, 117);">
                <div class="main_requests_status_item_content s">
                    <div class="main_requests_status_item_img">
                        <img src="images/request_inwork.png" alt="">
                    </div>
                    <div class="main_requests_status_item_descr">
                        <span>В работе</span>
                        {{request_inwork_count}} шт.
                    </div>
                </div>
            </div>
            <div class="main_requests_status_item" style="background-color: rgb(135, 255, 117);">
                <div class="main_requests_status_item_content">
                    <div class="main_requests_status_item_img">
                        <img src="images/request_done.png" alt="">
                    </div>
                    <div class="main_requests_status_item_descr">
                        <span>Выполнена</span>
                        {{request_done_count}} шт.
                    </div>
                </div>
            </div>
            <div class="main_requests_status_item" style="background-color: rgb(255, 117, 117);">
                <div class="main_requests_status_item_content">
                    <div class="main_requests_status_item_img">
                        <img src="images/request_cancel.png" alt="">
                    </div>
                    <div class="main_requests_status_item_descr">
                        <span>Отмена</span>
                        {{request_cancel_count}} шт.
                    </div>
                </div>
            </div>
        </div>
        <div class="main_header">
            <div class="sort_block">
                Сортировать: <select class="select_sort">
                    <option value="dateup">по дате ▲</option>
                    <option value="datedown">по дате ▼</option>
                    <option value="adrup">по адресу ▲</option>
                    <option value="adrdown">по адресу ▼</option>
                    <option value="statusup">по статусу ▲</option>
                    <option value="statusdown">по статусу ▼</option>
                </select>
            </div>
            <div class="search_block">
                <input type="text" id="search" placeholder="Поиск заявки">
                <img src="../images/search.png" alt="" class="search_request">
            </div>
            <button class="search_request_btn search_request">Найти</button>

            <button class="modal_open_btn">
                <img src="images/request_create.png" alt="">
                Создать заявку
            </button>
        </div>
        <div class="main_requests_table">
            <div class="main_requests_table_titles">
                <div class="main_requests_table_titles_item" style="width: 200px">Номер заявки</div>
                <div class="main_requests_table_titles_item" style="width: 240px">Адрес и заявитель</div>
                <div class="main_requests_table_titles_item" style="width: 160px">Исполнитель</div>
                <div class="main_requests_table_titles_item" style="width: 120px">Статус заявки</div>
                <div class="main_requests_table_titles_item" style="width: 140px">Доп. информация</div>
                <div class="main_requests_table_titles_item" style="width: 299px">Описание и результат</div>
            </div>
            <div class="main_requests_table_content"></div>
        </div>

         <div class="modal hide fade">
            <div class="modal_choice hide fade">
                <div class="modal_choice_title">Выберите тип заявки: </div>
                <div class="modal_choice_buttons">
                    <button class='btn_open_plan_form'>
                        Плановая
                    </button>
                    <button class="btn_open_emerg_form">
                        Аварийная
                    </button>
                </div>
            </div>
            <div class="modal_subchoice hide fade">
                <div class="modal_subchoice_title">Выберите тип заявки: </div>
                <div class="modal_subchoice_buttons">
                    <button class="btn_open_cap_form">
                        Ремонт
                    </button>
                    <button class="btn_open_dis_form">
                        Отключение
                    </button>
                </div>
            </div>
            <div class="modal_content hide fade">
                <div class="modal_content_title">
                    Оформление заявки
                </div>
                <form action="" name="sendRequestForm">
                    <div class="modal_content_input">
                        <div class="modal_content_input_resident">
                            Выберите жильца: <br>
                            <select id="city"></select>
                            <select id="street"></select>
                            <select id="numHome"></select>
                            <select id="numApart"></select>
                            <input type="text" disabled id="resident">
                        </div>
                        <div class="modal_content_input_typeproblem">
                            Выберите проблемный объект из списка:
                            <select id="typeproblem"></select>
                        </div>
                        <div class="modal_content_input_problem">
                            Уточните тип проблемы:
                            <select id="select_problem"></select>

                        </div>
                        <div class="modal_content_input_textarea">
                            Описание:
                            <textarea id="problem_descr" class="modal_content_input_item" required resize="none"></textarea>
                        </div>
                        <input class="modal_content_input_item modal_content_input_submit" type="submit">
                    </div>
                </form>
                <div class="modal_content_close  fade">
                    <img src="images/closing.png" alt="close">
                </div>
            </div>
            <div class="modal_cap hide">
                <div class="modal_cap_title">Создание плановой заявки</div>
                <div class="modal_cap_address">
                    <input class="cap_city" type="text" placeholder="Город">
                    <input class="cap_street" type="text" placeholder="Улица">
                    <input class="cap_numHome" type="text" placeholder="Дом">
                </div>
                <div class="modal_cap_type">
                    <label for="">Выберите тип заявки: </label>
                    <select class="select_type">
                        <option value="Капитальная">Капитальный ремонт</option>
                        <option value="Текущая">Текущий ремонт</option>
                    </select>
                </div>
                <div class="modal_cap_works">
                    <label for="">Выберите тип работ:</label>
                    <select class="select_work">
                        <option value="Подъезд">Подъезд</option>
                        <option value="Крыша и водосточная система">Крыша и водосточная система</option>
                        <option value="Водоснабжение">Водоснабжение</option>
                        <option value="Электроснабжения">Электроснабжения</option>
                        <option value="Канализация">Канализация</option>
                    </select>
                </div>
                <div class="modal_cap_executors">
                </div>
                <div class="modal_cap_date">
                    <label for="">Дата проведения ремонта:</label>
                    <input class="cap_date" type="text">
                </div>
                <div class="modal_cap_descr">
                    <label for="">Описание</label>
                    <textarea class="cap_descr"></textarea>
                </div>
                <button class="send_cap_request">Создать</button>
            </div>
            <div class="modal_dis hide">
                <div class="modal_dis_title">Создание плановой заявки</div>
                <div class="modal_dis_address">
                    <input class="dis_city" type="text" placeholder="Город">
                    <input class="dis_street" type="text" placeholder="Улица">
                    <input class="dis_numHome" type="text" placeholder="Дом">
                </div>
                <div class="modal_dis_works">
                    <label for="">Выберите тип отключения:</label>
                    <select class="select_dis">
                        <option value="Отопление">Отопление</option>
                        <option value="Холодное водоснабжение">Холодное водоснабжение</option>
                        <option value="Горячее водоснабжение">Горячее водоснабжение</option>
                        <option value="Электроснабжения">Электроснабжение</option>
                    </select>
                </div>
                <div class="modal_dis_executor">
                    <label for="">Выберите исполнителя</label>
                    <select class="select_executor_dis"></select>
                </div>
                <div class="modal_dis_date_start">
                    <label for="">Дата начала отключения:</label>
                    <input class="dis_date_start" type="text">
                </div>
                <div class="modal_dis_date_end">
                    <label for="">Дата окончания отключения:</label>
                    <input class="dis_date_end" type="text">
                </div>
                <div class="modal_cap_descr">
                    <label for="">Описание</label>
                    <textarea class="dis_descr"></textarea>
                </div>
                <button class="send_dis_request">Создать</button>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script type="module" src="js/dispatcher.js"></script>
</body>
</html>